@font-face {
font-family: SGLight;
src: url("../fonts/SpaceGrotesk-Light.woff") format("woff");
}

@font-face {
font-family: SGRegular;
src: url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
font-family: SGBold;
src: url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
}

@font-face {
font-family: SGSemiBold;
src: url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
}

@font-face {
font-family: SGMedium;
src: url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
}

:root {
	--w: 70%;
	--mw: 1024px;
}

@media only screen and (max-width: 600px) {
	:root {
		--w: 90%;
	}
	
	.header-section .index-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	.post .image-grid-two {
	grid-template-columns: repeat(1, 1fr);
	}
}
html {
  scroll-behavior: smooth;
}
body {
	width: 100%;
	background-color: #f1f1f1;
	margin: 0;
	color: black;
}

.header-section {
	margin-top: 25px;
	width: var(--w);
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.header-section span {
	font-family: SGSemiBold;
	font-size: 18px;
}

.header-links {
	display: inline;
	font-family: SGRegular;
}

h1 {
	font-family: SGSemiBold;
}

p.intro {
	font-family: SGRegular;
}

.index-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3%;
}

.index-grid a {
	font-family: SGRegular;
}

.post {
	width: var(--w);
	max-width: var(--mw);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.post p {
	font: 14px/20px SGLight;
}

.post p span {
	font-family: SGSemiBold;
}

h2 {
	font-family: SGSemiBold;
	margin: 0;
}

li {
	font-family: SGLight;
	font-size: 14px;
}

hr {
	margin: 0;
}

.post img {
	width: 100%;
	object-fit: cover;
	margin-bottom: 10px;
}

.image-grid-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 3%;
	margin-bottom: 10px;
	margin-top: 10px;
}
